body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.start-order{
    display: flex;
    margin-bottom: 50px;
}
.width-share{
    width: 50%;
}
.padding-left-top{
    padding-left: 80px;
    padding-top: 90px;
}
.width-share img{
    width: 100%;
}
.width-share h1{
    font-size: 50px;
}
.width-share p{
    margin-bottom: 60px;
}
.button-item{
    text-decoration: none;
    background-image: linear-gradient(darkorange,tomato);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    box-shadow: rgba(231, 62, 62, 0.35) 0px 5px 15px;
}
.orange{
    color: orange;
}
.about-myself{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
#img-width{
    width: 40%;
    padding-top: 70px;
    padding-left: 190px;
}
.padding-top-right{
    padding-right: 150px;
    padding-top: 100px;
}
.text-center{
    text-align: center;
}
.recipes{
    width: 30% auto;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;
}
#side-padding{
    padding-left: 70px;
    padding-right: 70px;
}
.recipes img{
    width: 100%;
}